
</div>

<!-- El footer estara listo despues -->

<!-- <div class="footer-container">

    <footer class="footer-1">
        <a href="mailto:A01705651@tec.mx">Contáctanos</a>
        <p id="cprt">Copyright © 2024 Zebrands</p>
    </footer>

</div> -->


<script src="/js/script.js"></script>
</body>

<!-- tenemos que cambiar el logo de zebrands a uno con color blanco y ver que ponemos en medio -->

</html>