<%-include('includes/navigation.ejs') %>

<h1>Forbidden</h1>
<h2>No estas autorizado a ver este contenido.</h2>

<div>
  <img
    class="image1404"
    src="/images/oscuro.png"
    width="500 px"
    height="500 px"
    alt="Logo de Magnustella"
  />

  <img
    class="image2404"
    src="/images/claro.png"
    width="500 px"
    height="500 px"
    alt="Logo de Magnustella"
  />
</div>

<%-include('includes/footer.ejs')%>
