<%-include('includes/navigation.ejs',{marca:marca, ruta:ruta,
permisos:permisos}) %>

<h1>Página no encontrada... Mejor regresemos a donde estábamos.</h1>

<div>
  <img
    class="image1404"
    src="/images/oscuro.png"
    width="500 px"
    height="500 px"
    alt="Logo de Magnustella"
  />

  <img
    class="image2404"
    src="/images/claro.png"
    width="500 px"
    height="500 px"
    alt="Logo de Magnustella"
  />
</div>

<%-include('includes/footer.ejs')%>
