<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/login_syles.css">
    <title>LogIn</title>
</head>

<body>
    <div class="login-box box">
        <div class="login-title title">
            <h4>Log-In</h4>
        </div>
        <% if(typeof error !=='undefined' ){ %>
            <div class="alert">
                <p>
                    <%= error %>
                </p>
            </div>
            <% } %>
                <form action="/users/login" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="credential-input">
                        <label for="name">Nombre de usuario:</label>
                        <input type="email" name="name" id="username" placeholder="Ingresa tu correo electronico">
                    </div>
                    <div class="credential-input">
                        <label for="password">Contrasena:</label>
                        <input type="password" name="password" id="password" placeholder="Ingresa tu contrasena">
                    </div>
                    <div class="ingresar-btn">
                        <button type="submit" class="btn">Ingresar</button>
                    </div>
                </form>



            <a href="/users/auth/google" style="text-decoration: none;">
                <button type="button" class="login-with-google-btn">
                    Inicia sesión con Google
                </button>
            </a>


