<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login_syles.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>LogIn</title>
  </head>

  <body>
    <div class="tittle-web-app">
      <img src="/images/login/logo_login.png" alt="" width="100px" height="100px">
      <h1>MagnusStellaCore</h1>
    </div>
    <div class="login-box box">
      <div class="login-title title">
        <h4>Log-In</h4>
      </div>
      <% if(typeof error !=='undefined' ){ %>
      <div class="alert">
        <p><%= error %></p>
      </div>
      <% } %>
      <form action="/users/login" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="credential-input">
          <label for="name">Nombre de usuario:</label>
          <input
            type="email"
            name="name"
            id="username"
            placeholder="Ingresa tu correo electronico"
          />
        </div>
        <div class="credential-input">
          <label for="password">Contrasena:</label>
          <div class="passwordInput">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Ingresa tu contrasena"
            />
            <button type="button" id="togglePasswordBtn" onclick="togglePassword()">Show Password</button>
          </div>
        </div>
        <div class="ingresar-btn">
          <button type="submit" class="btn">Ingresar</button>
        </div>
      </form>

      <div class="google-btn-div">
        <a href="/users/auth/google" style="text-decoration: none;">
          <button type="button" class="login-with-google-btn">
            Inicia sesión con Google
          </button>
        </a>
      </div>
    </div>

<script>
  function togglePassword() {
      var passwordInput = document.getElementById("password");
      var togglePasswordBtn = document.getElementById("togglePasswordBtn");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        togglePasswordBtn.textContent = "Hide Password";
      } else {
        passwordInput.type = "password";
        togglePasswordBtn.textContent = "Show Password";
      }
    }
</script>


