<%-include('includes/navigation.ejs')%>


    <div class="signup-box box">
        <div class="signup-title title">
            <h5>Ingresa la informacion del nuevo usuario</h5>
        </div>

        <% if(typeof error !=='undefined' ){ %>
            <div class="alert">
                <p class="error">
                    <%= error %>
                </p>
            </div>
            <% } %>

                <form action= "/users/signup" method="POST">
                    <div class="credential-input">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="username" placeholder="Ingresa tu nombre"><br>
                        <label for="email">Correo electronico:</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu correo electronico"><br>
                        <label for="password">Contrasena:</label>
                        <input type="password" name="password" id="password" placeholder="Ingresa tu contrasena"><br>
                        <label for="rol">Rol:</label>
                        <input type="text" name="rol" id="rol" placeholder="Ingresa el rol">
                    </div>

                    <label class="label" for="image">Imgaen:</label>
                    <input name="image" id="image" type="file" class="input"><br><br>


                    <div class="ingresarBtn">
                        <input type="submit" value=" Crear Usuario " class="ingresar-btn">
                        <a href="/usuarios/LU1/1">Cancelar</a>
                    </div>

                </form>

    </div>


<%-include('includes/footer.ejs')%>