.help-card {
    background-color: var(--nav-color);
    color: var(--text-color);
    font-size: 18pt;
    border-radius: 0.5em;
    text-align: center;
}

h1{
    font-size: 34pt;
}

.help-card:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.help-card-container {
    display: grid;
    grid-template-columns: repeat(3, 14em);
    grid-gap: 2em;
    grid-auto-rows: minmax(14em, auto);
}

.help-icon{
    font-size: 5em;
}

.body{
    margin: 0 auto;
    min-width: 120em;
    line-height: 1.5;
    padding: 4em 1em;
}