.correos-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.editor-de-preguntas{
    background-color: black;
}

.preview-html{
    background-color: blue;
}

.editor-de-preguntas,.preview-html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}