/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.15s ease;;
}

:root{
    --body-color: #FFF;
    --nav-color: #005CB9;
    --side-nav: #FFF;
    /*--text-color: #FFF;  Letras en blanco */
    --search-bar: #F2F2F2;
    --search-text: #121418;
    --sidebar-color: #005CB9;
    --primary-color: #FFF;
    --primary-color-light: #5C5C5C;
    --toggle-color: #DDD;
    --text-color-up: #FFF;
    --text-color: #FFF;
    --edit-color: #005CB9;
    --text-color_rev: #434141;
    --hover-color: #277cd1;
    --highlight: #2c8cec;
    --highlight2: #4ea5fc;
    --divBackground: #F1F2F2 ;
    --boxShadow: rgba(24, 23, 23, 0.884);

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    color: var(--nav-color); /* Letras en blanco */
    font-family: 'Poppins', sans-serif;
}

body.dark{
    color: var(--text-color);
    --body-color: #18191A;
    --nav-color: #242526;
    --search-text: #ffffff;
    /*--side-nav: #242526;*/
    --text-color: #CCC; /* Letras en blanco */
    --search-bar: #4a4c4f;
    --sidebar-color: #242526; 
    --primary-color: #CCC;
    --side-nav: #CCC;
    --primary-color-light: #3A3B3C;
    --edit-color:#CCC;
    --toggle-color:#727171c2;
    --text-color_rev: #CCC;
    --hover-color: #3A3B3C;
    --highlight: #005CB9;
    --highlight2: #2b95ff;
    --divBackground: #848484;
    --boxShadow: #ffffffc0 ;

}
.side_bar.close{
    width: 107px;
    
}

/* CSS reusable */
.side_bar .text{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-34);
    white-space: nowrap;
    opacity: 1;
}


.side_bar.close .text{
    opacity: 0;
}

.side_bar .image{
    min-width:60px;
    display: flex;
    align-items: center;
}
/* Sidebar */

.side_bar{
    position: fixed;
    top: 75px;
    left: -10;
    height: 100%;
    width: 200px;
    padding: 2px 2px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
    /* transition: left 0.5s ease; */

}

.side_bar li{
    height: 80px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.side_bar li .icon{
    display:flex ;
    align-items:first center;
    justify-content: center;
    min-width: 32px;
    font-size: 30px;
}

.side_bar li .icon,
.side_bar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.side_bar header {
    position:relative;
}

.side_bar .image-text img{
    width:50px;
    border-radius: 6px;
    ;
}

.side_bar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.side_bar header .toggle{
    position: absolute;
    margin-top: 30px;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--side-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
.side_bar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    transition: var(--tran-04);
}

.side_bar li a:hover{
    background: var(--primary-color);
}

.side_bar li a:hover .icon,
.side_bar li a:hover .text{
    color: var(--sidebar-color)
}

.side_bar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .darkLight-profile{
    background: var(--primary-color-light);
    border-radius: 6px;
    position: relative;
}

.logo-zebrands img{
    width: 196px;
    height: 75px;
}

.side_bar.close .logo{
    opacity: 0;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    /* max-width: 1350px; */
    right: auto;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 ;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color-up);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color-up);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 590px; */

}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-profile{
    display: flex;
    align-items:center;
}

.darkLight-profile .dark-light,
.darkLight-profile .userProfile{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.userProfile i{
    position: absolute;
    color: var(--text-color-up);
    font-size: 22px;
    cursor: pointer;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.userProfile i.cancel{
    opacity: 0;
    pointer-events: none;
}

.userProfile.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.userProfile.active i.user{
    opacity: 0;
    pointer-events: none;
}

.profile{
    position: relative;
}

.profile .user-sub-menu{
    position: absolute;
    top: 80px;
    right: 5px;
    height: 168px;
    width: 220px;
    background-color: var(--nav-color);
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.userProfile.active ~ .user-sub-menu{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.user-sub-menu::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}


.user-sub-menu ul {
    height: 100%;
    width: 100%;
    padding: 5px; 
    margin: 0; 
    list-style: none; 
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: var(--search-text);
    background-color: var(--body-color);
    border-radius: 4px;
}



.user-sub-menu i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}


body.dark .user-sub-menu i{
    color: var(--text-color);
}

#seccion {
        padding: 15px 55px;
        text-align: center;
        font-size: 35px;
    }

#cprt {
        text-align: center;
}


body {
        margin: 0 auto;
        /* max-width: 55em; */
        line-height: 1.5;
        padding: 4em 1em;
        transition: margin 0.5s ease;
}
    
a:link {
        font-size: 20px;
        text-decoration: none;
        color: #003ce0; 
}
a:visited {
    text-decoration: none; 
    color: #003ce0; 
}
a:hover{
    color:#D7E2FB;
}

body.dark a:link {
    text-decoration: none; 
    color: #D7E2FB; 
}

body.dark a:visited {
    text-decoration: none; 
    color: #fff; 
}

body.dark a:hover{
    color: var(--nav-color);
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 105px;
    height: 100%;
}

.main-content-increase{
    margin: 20px 0 0 205px;
    transition: var(--tran-05);
}

.footer-margin-increase{
    margin: 0 0 0 205px;
    transition: var(--tran-05);
}

footer{
    margin-left: 105px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Pagina reseñas*/
.container {
    margin-top: -250px;
}

/*Pagina usuario*/

.container-fluid {
    margin-top: 80px;
    height: 100%;
    width: 100%;
}

.table-title {
    padding-bottom: 15px;
    background: var(--nav-color);
    color: var(--text-color);
    padding: 16px 15px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn {
    color: var(--edit-color);
    ;
    background: var(--body-color);
    height: 50px;
    width: 150px;
    font-size: 12px;
    border: none;
    min-width: 5px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 460px;
}

.buttons .icon {
    font-size: 20px;
}

.table-title .btn:hover,
.table-title .btn:focus {
    color: var(--edit-color);
    background: var(--toggle-color);
}

.table-title .btn span {
    position: relative;
    float: top;
    margin-top: 2px;
    font-size: 10px;

}

.table-wrapper {
    width: 100%;
}

table.table {
    width: 100%;
}

table.table tr th,
table.table tr td {
    border-color: var(--toggle-color);
    padding: 6px 10px;
}

table.table tr th:first-child {
    width: 15px;
}

table.table tr th:last-child {
    width: 125x;
}

table.table td:nth-child(5) {
    width: 120px;
}

.table td:nth-child(2) a {
    font-size: 16px;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}

table.table td a:hover {
    color: var(--nav-color);
    background: var(--toggle-color);
}

table.table td a.settings {
    color: var(--edit-color);
}

table.table td a.delete {
    color: #B00020;
}

table.table td i {
    font-size: 22px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 2px;
    font-size: 16px;
    width: 80px;
    height: 80px;
}

.status {
    font-size: 26px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}

.text-success {
    color: #2E7D32;
}

.text-info {
    color: var(--nav-color);
}

.text-warning {
    color: #FE9339;
}

.pagination {
    float: right;
    list-style: none;
    margin: 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination li.page-item a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: var(--primary-color-light);
    ;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li.page-item a:hover {
    color: #666;
}

.pagination li.page-item.active a,
.pagination li.page-item.active a.page-link {
    background: var(--primary-color-light);
    color: var(--text-color-up);
}

.pagination li.page-item.active a:hover {
    background: var(--edit-color);
    color: var(--text-color);
}

.pagination li.page-item a:hover {
    background: var(--toggle-color);
    color: var(--edit-color);
}

.pagination li.page-item i {
    font-size: 16px;
    padding-top: 6px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* review completa */
.container {
    margin-top: 40px;
    background-color: var(--toggle-color);
    color: var(--text-color_rev);
    overflow: auto;
}

.contenido {
    padding: 10pt;
    background: var(--body-color);

}

#text_resena_nrml {
    font-size: 14px;
}

#producto_img {
    position: relative;
    margin-left: 220px;
}

.container .contenido .rating-box {
    position: relative;

}

#question_text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#sub_question {
    font-size: 13px;
    margin-left: 9px;
}

.container .contenido .rating-box .estrellas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.estrellas i {
    color: var(--toggle-color);
    font-size: 35px;
    cursor: pointer;
}

.estrellas i.active {
    color: #fdd300;
}

#title_rev {
    width: 250px;
    margin-left: 10px;
}

#description_rev {
    margin-left: 16px;
}

#edades {
    margin-left: 10px;
}

#dormir {
    margin-left: 10px;
}

.submit-button {
    display: block;
    margin: 0 auto;
    border-radius: 0.5em;
    background: #4ab050;
    color: #ffffff;
    cursor: pointer;
}

/* review chica */

#stars_y {
    color: #fdd300;
}

#stars_g {
    color: var(--toggle-color);
}

.item-boxes {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    width: 45%;
    /* Ajusta el ancho según tus necesidades */
    margin: 10px;
    padding: 10px;
    border: 4px solid var(--edit-color);
    border-radius: 5px;
    text-align: center;
}

.item-container a {
    text-decoration: none;
    font-weight: 800;
}

.img_producto {
    width: 100px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    display: block;
    margin: 0 auto;
}

.estrellas {
    margin-top: 10px;
}

.clearfix {
    clear: both;
}

.actions {
    margin-top: 10px;
}

.img_producto {
    width: 200px;
    margin-top: 20px;
}

.ver_pagina {
    padding: 21px;
    /* Ajustado */
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--body-color);
    align-items: end;
    border-radius: 5px;
    padding: auto right;


}

.ver_pagina input {
    outline: none;
    height: 20px;
    /* Ajustado */
    width: 50px;
    /* Ajustado */
    border-radius: 50px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.ver_pagina input:checked {
    background: #005CB9;
}

.ver_pagina input:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 20px;
    /* Ajustado */
    background: linear-gradient(#fff, #f2f2f2, #e6e6e6, #d9d9d9);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:checked:before {
    left: 25px;
    /* Ajustado */
}

.ver_pagina .text:before {
    content: "Deshabilitado";
    font-size: 10px;
    /* Ajustado */
    font-weight: 500;
    color: var(--primary-color-light);
}

input:checked~.text:before {
    content: "Habilitado";
    color: var(--edit-color);
    font-size: 11px;
    /* Ajustado */
}

#search-autocomplete {
    display: flex;
    justify-content: flex-end;
    /* Esto alinea los elementos al extremo derecho */
    align-items: center;
    /* Esto alinea verticalmente los elementos */
    width: 90%;
}

h3,label{
    color: var(--search-text);
}

/* estilos para pagina de correo */

.ques-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--divBackground);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 2px 0  var(--boxShadow);
}

.add-ques-button:hover{
    background-color: var(--highlight2);
}

.ques-container{
    border-radius: 15px;
    width: 65%;
    background-color: var(--highlight2);
}

#dias, #hora{
    width: 5em;
    border: none;
    border-bottom-left-radius: 11pt;
    border-top-left-radius: 11pt;
}

#subir{
    width: 4em;
    border: none;
    border-bottom-right-radius: 11pt;
    border-top-right-radius: 11pt;

}
    