<%-include('../includes/navigation.ejs') %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>General</h1>
    <hr>
    <h2>Entrar y navegar por la sección de ayuda </h2>
    <p>Hacer click en el ícono del usuario.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/general/icono-usuario.png">
    </div>

    <p>Se despliega un menú.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/general/menu-usuario.png">
    </div>

    <p>Hacer click en el botón de ayuda.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/general/menu-usuario-ayuda.png">
    </div>

    <br><hr>
    <h2>Cambiar de marca</h2>
</div>



<%-include('../includes/footer.ejs')%>