<%-include('../includes/navigation.ejs') %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>Usuarios</h1>
    
    <br><hr>
    <h2>Consultar usuarios</h2>
    <p>Hacer click en el ícono de usuarios.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/clickmenu.png" >
    </div>
    <p>La interfaz de usuarios es desplegada.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/vistausuarios.png" width="1040px"  >
    </div>

    <br><hr>
    <h2>Navegar por la tabla de usuarios.</h2>
    <p>Hacer click en el número de página que se quiere consultar o en los botones de "siguiente" y "anterior".</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/navusuarios.png" >
    </div>


    <br><br><hr>
    <h2>Crear un usuario</h2>
    <p>Hacer click en el botón de "crear usuario".</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/crearusuario1.png" width="1040px"  >
    </div>
    <p>Llenar los campos requeridos.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/crearusuario2.png" >
    </div>
    <p>Hacer click en el botón de "crear usuario".</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/crearusuario3.png" >
    </div>
    <p>El usuario es creado.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/crearusuario4.png" width="1040px"  >
    </div>

    <br><br><hr>
    <h2>Editar un usuario </h2>
    <p>Hacer click en el botón de editar al lado del usuario que se desea editar.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/editarusuario1.png" width="1040px"  >
    </div>
    <p>Modificar los campos que se desean editar.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/editarusuario2.png"  >
    </div>
    <p>Hacer click en el botón de "guardar" para registrar los cambios.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/editarusuario3.png"  >
    </div>
    <p>El usuario es modificado.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/editarusuario4.png" width="1040px"  >
    </div>

    <br><br><hr>
    <h2>Eliminar un usuario</h2>
    <p>Hacer click en el botón de eliminar al lado del usuario que se desea eliminar.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/eliminarusuario1.png" width="1040px"  >
    </div>
    <p>Hacer click en el botón de "OK" dentro del recuadro de confirmación.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/eliminarusuario2.png"  >
    </div>
    <p>El usuario es eliminado.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/eliminarusuario3.png"  width="1040px">
    </div>

    <br><br><hr>
    <h2>Consultar el registro de cambios de usuarios.</h2>
    <p>Hacer click en el botón de "Registro de cambios".</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/logusuario1.png" width="1040px"  >
    </div>
    <p>El registro de cambios de usuarios es desplegado.</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/usuarios/logusuario2.png" width="1040px" >
    </div>



</div>


<%-include('../includes/footer.ejs')%>