<%-include('../includes/navigation.ejs') %>


<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>Dashboard</h1>
    <hr>
    <h2>Entrar y navegar por la sección de Dashboard </h2>
    <p>Hacer click en el icono de la gráfica.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/icono-grafica.png" height="340px">
    </div>
    <br><hr>
    <br>
    
    <h2>Filtrar gráficas por fecha</h2>
    <p>Dar click en el botón de "filtros".</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros.png" width="1040px">
    </div>

    <p>Seleccionar el apartado de fecha inicial o fecha final.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_f.png" width="1040px">
    </div>

    <p>Seleccionar la fecha deseada.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_f_select.png" width="1040px">
    </div>

    <p>Dar click en el botón de submit</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_f_submit.png" width="1040px">
    </div>
    <p>Visualizar los resultados</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/resultados_filtro_f.png" width="1040px">
    </div>

   
    <br><hr>
    <br>
    <h2>Filtrar gráficas por categoria</h2>
    <p>Dar click en el botón de "categoria".</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/categoria.png" width="1040px">
    </div>

    <p>Seleccionar la categoria deseada.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/categoria_opciones.png" width="1040px">
    </div>

    <p>Visualizar los resultados.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/categoria_result.png" width="1040px">
    </div>
   
    <br><hr>
    <br>

    <h2>Sección filtros activos</h2>
    <p>Dar click en el botón de "filtros activos" </p>
    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_act.png" width="1040px">
    </div>
    <p>Visualizar filtros activos</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_act_ver.png" width="1040px">
    </div>
    <p>Para eliminar los filtros dar click en el botón de "eliminar filtros"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/dashboard/filtros_eliminar.png" width="1040px">
    </div>
</div>




<%-include('../includes/footer.ejs')%>