<%-include('../includes/navigation.ejs') %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>Reseñas</h1>
    <hr>
    <h2>Entrar y navegar por la sección de reseñas </h2>
    <p>Hacer click en el icono de la estrella.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/icono-estrella.png" height="340px">
    </div>
    <br><hr>
    <br>
    <h2>Buscar reseñas por producto</h2>
    <p>Ingresar el código del producto en el cuadro de busqueda.</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/search-box.png" width="1040px">
    </div>

    <p>Visualizar los resultados desplegados.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/resultados_p.png" width="1040px">
    </div>

    <p>Si no existe el producto, o no existen reseñas del producto se desplegara un mensaje de error.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/no_encontrado.png" width="1040px">
    </div>
    <br><hr>
    <br>
    <h2>Filtrar reseñas por fecha</h2>
    <p>Dar click en el botón de filtros.</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/click_filtros.png" width="1040px">
    </div>

    <p>Seleccionar el apartado de fecha inicial o fecha final.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_f.png" width="1040px">
    </div>

    <p>Seleccionar la fecha deseada.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_f_click.png" width="1040px">
    </div>

    <p>Dar click en el botón de submit</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/submit_filtro_f.png" width="1040px">
    </div>
    <p>Visualizar los resultados</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_f_resultado.png" width="1040px">
    </div>

   
    <br><hr>
    <br>
    <h2>Ordenar reseñas por puntaje</h2>
    <p>Dar click en el botón de filtros.</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/click_filtros.png" width="1040px">
    </div>

    <p>Seleccionar el apartado de ordenar por.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_p.png" width="1040px">
    </div>

    <p>Seleccionar la opción deseada.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_p_click.png" width="1040px">
    </div>

    <p>Dar click en el botón de submit</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/submit_filtro_p.png" width="1040px">
    </div>
    <p>Visualizar los resultados</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/filtro_p_resultado.png" width="1040px">
    </div>
   
    <br><hr>
    <br>

    <h2>Visualizar reseñas individuales</h2>
    <p>Hacer click en el titulo de la reseña</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/click_ind.png" width="1040px">
    </div>
    <p>Visualizar reseña completa</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/resenas/individual.png" width="1040px">
    </div>
</div>



<%-include('../includes/footer.ejs')%>