<%-include('../includes/navigation.ejs'), {
    titulo: titulo,
    marca:marca
} %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<h1>¿Con qué podemos ayudarte?</h1>
<div class = "help-card-container">
    <div class = "help-card" href="/login">
        <i class='help-icon bx bxs-id-card icon'></i>
        <p>Login</p>
    </div>
    <div class = "help-card" href="/dashboard">
        <i class="help-icon bx bx-home icon"></i>
        <p>Dashboard</p>
        </div>
    <div class = "help-card" href="/resenas">
        <i class="help-icon bx bx-star icon"></i>
        <p>Reseñas</p>
    </div>

    <div class = "help-card" onclick="window.location.href = '/ayuda/correos/<%=marca%>';">
        <i class="help-icon bx bx-envelope icon"></i>
        <p>Correos</p>
    </div>
   
    <div class = "help-card" href="/usuarios">
        <i class='help-icon bx bxs-user-plus icon'></i>
        <p>Usuarios</p>
    </div>
    <div class = "help-card" href="/general">
        <i class='help-icon bx bxs-grid icon'></i>
        <p>General</p>
    </div>
</div>


<%-include('../includes/footer.ejs')%>