<%-include('../includes/navigation.ejs') %>



<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>Correos</h1>
    <hr>
    <h2>Entrar y navegar por la sección de Correos </h2>
    <p>Hacer click en el icono de correo.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/correos/icono-correos.png" height="340px">
    </div>
    <br><hr>
    <br>
    
    <h2>Editar tiempo de envío</h2>
    <p>Dar click en la sección de días y editar.</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editar_dias.png" width="840px">
    </div>

    <p>Dar click en el botón "guardar".</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/correos/guardar_dias.png" width="840px">
    </div>

    <br><hr>
    <br>
    <h2>Crear pregunta</h2>

    <p>Dar click en el botón de "Añadir pregunta".</p>


    <div class="img-placeholder">
        <img src="/images/ayuda/correos/añadir.png" width="640px">
    </div>

    <p>Seleccionar el apartado de pregunta</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_pesta.png" width="640px">
    </div>
    <p>Escribir la nueva pregunta</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_pregunta.png" width="640px">
    </div>
  
    <p>Crear las opciones de la pregunta dando click en el botón de "Añadir opción"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_op.png" width="640px">
    </div>

    <p>Escribe la opción deseada.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_opcion.png" width="640px">
    </div>

    <p>Repetir el mismo proceso hasta tener las opciones deseadas</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_new_op.png" width="640px">
    </div>
   
    <p>Para eliminar una opción dar click en el icono de la basura</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_eliminar.png" width="640px">
    </div>
   
    <p>Para cancelar la creación de la pregunta dar click en el botón de "cancelar"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_cancelar.png" width="640px">
    </div>

    <p>Para guardar la nueva pregunta dar click en el botón de "guardar"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_guardar.png" width="640px">
    </div>

    <p>Visualizar la nueva pregunta</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/crear_resultado.png" width="740px">
    </div>
    <br><hr>
    <br>

    <h2>Editar preguntas</h2>
    <p>Para editar una pregunta dar click en el icono del lapiz </p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editar.png" width="640px">
    </div>
    <p>Seleccionar lo que deseas editar</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editar_pes.png" width="640px">
    </div>
    <p>Escribe la nueva opción o pregunta</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editar_op.png" width="640px">
    </div>
    <p>Para cancelar la operación dar click en el botón de "cancelar"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editado_cancelar.png" width="640px">
    </div>
    <p>Para guardar los cambios dar click en el botón de "guardar"</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editado_guardar.png" width="640px">
    </div>
    <p>Visualizar la pregunta editada</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/editado_resultado.png" width="840px">
    </div>

    <br><hr>
    <br>

    <h2>Eliminar preguntas</h2>
    <p>Para eliminar una pregunta dar click en el icono de la basura </p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/eliminar.png" width="640px">
    </div>

    <p>Confirmar la eliminación </p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/eliminar_conf.png" width="640px">
    </div>

    <p>Visualizar que la pregunta se ha eliminado</p>
    <div class="img-placeholder">
        <img src="/images/ayuda/correos/eliminar_result.png" width="640px">
    </div>
</div>





<%-include('../includes/footer.ejs')%>