<%-include('../includes/navigation.ejs') %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>

<div class="contenido">
    <h1>Login</h1>
    <hr>
    <h2>Iniciar Sesión</h2>
    <p>Ingresar información en los apartados</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/login/login.png" width="1040px">
    </div>

    <p>Dar click en el botón de "ingresar".</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/login/login_ingresar.png" width="1040px">
    </div>

    <p>Si los datos son incorrectos se mostrará un mensaje de error.</p>

    <div class="img-placeholder">
        <img src="/images/ayuda/login/usuario_error.png" width="1040px">
    </div>
   
    <br><hr>
    <br>
    <h2>Cerrar Sesión</h2>
    <p>Dar click en el icono de cerrar sesión.</p>
  
    <div class="img-placeholder">
        <img src="/images/ayuda/login/icono-cerrar-sesion.png" heigth="340px">
    </div>

</div>




<%-include('../includes/footer.ejs')%>