<%-include('../includes/navigation.ejs') %>

<head>
    <link rel="stylesheet" href="/css/ayuda.css">
</head>
<div class="contenido">
    <h1>General</h1>
    <h2>Entrar y navegar por la sección de ayuda</h2>
    <p>Hacer click en el ícono del usuario.</p>
    <p>Se despliega un menú.</p>
    <p>Hacer click en el botón de ayuda.</p>
    
    <h2>Cambiar de marca</h2>
</div>



<%-include('../includes/footer.ejs')%>